config APP_RESCUE_ROBOT
    bool "救援机器人"
    default n
    select PKG_USING_CFF_ALGORITHM_LIBRARY
    select ALGORITHM_USING_CHASSIS_SOLVE

if APP_RESCUE_ROBOT
    choice
        prompt "请选择底盘类型"
        default ROBOT_CHASSIS_OMNI

        config ROBOT_CHASSIS_OMNI
            bool "全向轮底盘"

        config ROBOT_CHASSIS_THREE_WHEEL_OMNI
            bool "三轮全向轮底盘"

        config ROBOT_CHASSIS_TWO_DIFF
            bool "两轮差速底盘"

        config ROBOT_CHASSIS_FOUR_DIFF
            bool "四轮差速底盘"

    endchoice

    choice
        prompt "请选择执行机构"
        default ROBOT_STRUCTURE_SUCTION_CUP

        config ROBOT_STRUCTURE_SUCTION_CUP
            bool "吸盘"

        config ROBOT_STRUCTURE_CLAMP
            bool "夹抓"

        config ROBOT_STRUCTURE_DUCTED_FAN
            bool "涵道风扇"
            select SWITCHGEAR_4_USE_PWM

        config ROBOT_STRUCTURE_CATAPULT
            bool "弹射机构"
            select SWITCHGEAR_6_CATAPULT

    endchoice

    config SWITCHGEAR_4_USE_PWM
        bool "外设通道4使能PWM模式"
        default n

    config SWITCHGEAR_6_CATAPULT
        bool "外设通道6使能弹射机构模式"
        default n

endif
