# CONFIG_RT_USING_DFS is not set
CONFIG_BSP_UART4_RX_USING_DMA=y
# CONFIG_BSP_USING_UART5 is not set
CONFIG_BSP_UART6_RX_USING_DMA=y
CONFIG_BSP_USING_PWM1_CH1=y
CONFIG_BSP_USING_PWM1_CH2=y
CONFIG_BSP_USING_PWM1_CH3=y
CONFIG_BSP_USING_PWM2=y
CONFIG_BSP_USING_PWM2_CH1=y
CONFIG_BSP_USING_PWM2_CH2=y
CONFIG_BSP_USING_USB=y
CONFIG_BSP_USING_BEEP=y
CONFIG_BSP_USING_SPI_FLASH=y
CONFIG_BSP_USING_BMI088=y
CONFIG_BSP_USING_ST7789=y
CONFIG_PKG_CMSIS_DSP_FAST_MATH=y
CONFIG_PKG_USING_CMSIS_DSP=y
CONFIG_ALGORITHM_USING_CHASSIS_KINEMATICS=y
CONFIG_ALGORITHM_USING_PID=y
CONFIG_ALGORITHM_USING_AHRS=y
CONFIG_ALGORITHM_USING_AHRS_MADGWICK=y
CONFIG_ALGORITHM_USING_AHRS_MAHONY=y
CONFIG_CONFIG_LCD_DRIVE_ST7789=y
CONFIG_TEENYUSB_HOST_ENABLE=y
CONFIG_TEENYUSB_USBH_HID=y
CONFIG_PKG_USING_CFF_TONE_PLAYER=y
CONFIG_PKG_USING_CFF_BUS_SERVO=y
CONFIG_PKG_USING_CFF_HUB_MOTOR=y
CONFIG_APP_RESCUE_ROBOT=y
CONFIG_SWITCHGEAR_4_USE_PWM=y
